:root {
  --bs-gray: #9699A0;
  --bs-primary: rgba(0, 74, 147, 1);
  --bs-secondary: #0275C5;
  --light-gray: #FBF8F8;
  --yellow: #E7B82A;
  --gray-300: #F1F0F0;
  --red: #CD0508;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background: url('./images/calendar.png');
}

.container-fluid {
  height: fit-content !important;
}

nav {
  height: 6rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 3;
}

.border-gray {
  border-color: var(--bs-gray) !important;
}

.text-gray {
  color: var(--bs-gray) !important;
}

.text-danger {
  color: var(--red) !important;
}

.text-gray-100 {
  color: var(--light-gray) !important;
}

.text-gray-400 {
  color: var(--gray-300) !important;
}

.bg-gray-100 {
  background: var(--light-gray) !important;
}

.bg-danger {
  background: var(--red) !important;
}

.bg-gray-300 {
  background: var(--gray-300) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background: var(--bs-primary) !important;
}

.nav-search {
  height: 3rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(204, 203, 203, 1);
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  width: 25rem;
}

.nav_logo {
  width: 12rem;
}

.bg-gray {
  background: var(--bs-gray) !important;
}

.sidebar_wrapper {
  max-height: calc(100vh - 6rem);
  background: var(--bs-primary);
  width: 20rem;
  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 2;
}

.sidebar {
  max-height: calc(100vh - 6rem);
  overflow: scroll;
}

.border-top-primary {
  border-top-color: var(--bs-secondary) !important;
}

.border-primary {
  border-color: var(--bs-primary) !important;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.form input, .form textarea, .popup input, .popup textarea {
  height: 3.5rem;
  padding: 0.5rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.form textarea {
  height: 6rem;
  outline: none;
  border: none;
}

.active {
  background: var(--bs-secondary);
}

.box {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* max-height: 25rem; */
  overflow: scroll;
}

.box::-webkit-scrollbar {
  display: none;
}

.table_wrapper {
  overflow: scroll;
}

.table_wrapper::-webkit-scrollbar {
  display: none;
}

.table_header, .table_value {
  border-radius: 0.8rem;
  background: var(--bs-primary);
  color: #FFF;
  font-weight: 500;
  padding: 0.8rem;
  font-size: 18px !important;
}

.table_value {
  color: black;
}

.tall {
  height: 6rem;
}

.shadow {
  box-shadow: 0px 5px 6px 0px rgba(0, 169, 98, 0.5) !important;
}

.text-yellow {
  color: var(--yellow);
}

.complex_table_value {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.7rem;
  border-radius: 0.8rem;
}

.table_header::-webkit-scrollbar, .table_value::-webkit-scrollbar {
  display: none;
}

.menu {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  z-index: 5;
  height: fit-content;
  top: 6rem;
  right: 0;
  display: none;
}

.menu a {
  transition: all .5s ease;
  color: var(--bs-primary);
  cursor: pointer;
}

.menu a:hover {
  color: #FFF;
  background: var(--bs-primary);
}

.popup_user_photo {
  width: 8.8rem;
  height: 9.3rem;
}

.popup_left button {
  width: 8.8rem;
}

.popup {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 50%;
  height: fit-content;
  top: 25%;
  z-index: 100;
}

.edit_code {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
}

.bg-gradient {
  background: linear-gradient(180deg, #004A93 0%, #0275C5 100%) !important;
}

.shadow-none {
  box-shadow: none;
}

.dropdown button {
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border: none;
  font-size: 1.2rem;
  color: var(--bs-gray);
}

.nav-link.active {
  font-weight: 700;
  color: var(--bs-primary) !important;
  text-decoration: underline;
}

.details button {
  font-size: 18px;
  max-height: 3.5rem;
}

.top_cards > div {
  width: 17.5rem;
  margin-bottom: 1rem;
}

.categories button {
  width: 11rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .sidebar_wrapper {
    width: 18rem;
  }

  .complex_table_value {
    width: 25rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .sidebar_wrapper {
    width: 16rem;
  }

  .flex-grow-1.p-4 {
    width: calc(100% - 16rem) !important;
    left: 16rem !important;
  }

  .table_header, .table_value {
    width: 30rem;
  }

  .complex_table_value {
    width: 25rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .sidebar_wrapper {
    width: 15rem;
  }

  .flex-grow-1.p-4 {
    width: calc(100% - 15rem) !important;
    left: 15rem !important;
  }

  .table_header, .table_value {
    width: 30rem;
  }

  .complex_table_value {
    width: 25rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .sidebar_wrapper {
    width: 4rem;
  }

  .flex-grow-1.p-4 {
    width: calc(100% - 4rem) !important;
    left: 4rem !important;
  }

  .nav_logo {
    width: 100%;
  }

  .table_header, .table_value {
    width: 30rem;
  }

  .complex_table_value {
    width: 25rem;
  }
}